.navbar {
    padding: 4px 16px;
    /* font-family: 'Varela Round', sans-serif; */
}

.navbar .navbar-brand img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.navbar .navbar-nav img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.navbar-brand {
    color: rgb(195, 12, 12);
    padding-left: 0;
    padding-right: 50px;
    font-size: 22px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #000;
}

.navbar i {
    font-size: 18px;
}

.navbar .navbar-nav>a>i {
    display: block;
    text-align: center;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .navbar-nav>a {
    color: #888888;
    padding: 2px 8px;
    font-size: 14px;
    margin: 0 8px;
}

.navbar .navbar-nav>a:hover,
.navbar .navbar-nav>a:focus {
    color: #333333;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a {
    color: #777 !important;
    padding: 8px 20px;
}

.navbar .navbar-toggler {
    border-color: #000;
}

.navbar .dropdown {
    padding: 2px 8px;
    margin: 0 8px;
}


@media (max-width: 991px) {
    .scrollable-navbar {
        max-height: 70vh;   /* Not fully resolved yet */
        overflow-y: auto;
    }
    .navbar .navbar-nav>a>i {
        display: inline-block;
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 1px;
    }
    .navbar .navbar-nav {
        margin: 16px 0;
    }
    .navbar .navbar-nav>a {
        margin: 8px 0px;
        max-width: 160px;
    }
    .navbar .dropdown {
        margin: 8px 0px;
        max-width: 160px;
    }
}